<h3>Q&amp;A board</h3>
<h4>Weeks 3 &amp; 4 Epicodus JavaScript Code Review -- Ember</h4>
<p>This app is an exercise in building front ends with the Ember framework. It will allow the user to ask questions and then answer posted questions, as well as edit and delete both answers and questions. Additionally, user can up and downvote questions and answers, favorite questions, and the app will display both popular and unanswered questions.</p>
